# Ignore Visual Studio folders
.vs/
StoreManage\.vs/

# Ignore build output folders (obj, bin)
/StoreManage/obj/
/StoreManage/bin/

# Ignore DesignTimeResolveAssemblyReferencesInput.cache
/StoreManage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

# Ignore AssemblyReference.cache
/StoreManage/obj/Debug/StoreManage.csproj.AssemblyReference.cache
/StoreManage/bin/Debug/StoreManage.exe
/StoreManage/bin/Debug/StoreManage.exe
